h2 {
  color: var(--c-gold);
  width: 100%;
  text-align: center;
}

.spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spacer-super {
  margin-top: 5rem;
}

.menu-container {
  width: 100%;
}

.menu-item {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  display: block;
  height: fit-content;
  position: relative;
  outline: none;
  overflow: hidden;
  background-color: #eaba6de6;
  box-shadow: 0px 0px 4px #eaba6de1;
  border-radius: var(--var-border-radious);
}

.item-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.item-price {
}

.allergens-container {
}